body {
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  text-align: center;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
}

li {
  width: 20%;
}